body{
  background: url('./images/pixel_stars.jpeg');
  color: white ;
}


.PageButton-wrapper{
  justify-content: space-between;
  margin: 1rem;
}

.row{
  padding: 1rem;
}

.card-wrapper{
  display: flex;
  flex-wrap: wrap;
}

.card{
  margin: 0.5rem;
  color: black;
}

.film-characters-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}


.list-group-item{
  margin: 0.5rem;
}


/* Info wrapper div in person component */
.info-wrapper{
  display: flex;
  justify-content: space-around;
  font-size:1.5rem;
}


/* back button */
.back{
  margin: 1rem;
  border-color: white;
}